@using EBikeShop.MVC.ViewComponents
@* @model EBikeShop.MVC.Data.Entities.Category *@
@model EBikeShop.MVC.ViewModels.CategoryVM

@{
    bool isCreate = Model == null || Model.Id == Guid.Empty;
    string formAction = isCreate ? "Create" : "Edit";
    string buttonName = isCreate ? "Create" : "Update";
    string title = isCreate ? "Create" : "Update";
    ViewData["Title"] = isCreate ? "Create Category" : "Edit Category";
}

<h1>@title</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@formAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!isCreate)
            {
                <input asp-for="Id" type="hidden" />
            }
            @* <input asp-for="Position" type="hidden" /> *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="7" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div> *@
            <div class="form-group" style="text-align: center;">
                <input type="submit" value="@buttonName" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @* @await Component.InvokeAsync("CategoryList") *@
        @await Component.InvokeAsync(nameof(CategoryList))
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function getCategoryDetail(idCategory) {
            $.ajax({
                url: "/Categories/Details",
                type: "GET",
                data: {  
                    idCategory
                },
                beforeSend: function() {
                    // console.log("Đang gửi yêu cầu...");
                },
                success: function(response) {
                    // console.log("Kết quả:", response);
                    openModal("Chi tiết Danh mục", response, '');
                },
                error: function(xhr, status, error) {
                    console.error("Lỗi:", error);
                    console.log("Chi tiết:", xhr.responseText);
                },
                complete: function() {
                    console.log("Hoàn tất AJAX request");
                },
                timeout: 10000
            });
        }
        const openDeleteModal = (idCategory) => {
            $.ajax({
                url: "/Categories/Delete",
                type: "GET",
                data: {
                    idCategory
                },
                beforeSend: function() {
                    // console.log("Đang gửi yêu cầu...");
                },
                success: function(response) {
                    // console.log("Kết quả:", response);
                    openModal("XÓA Danh mục", response, '');
                },
                error: function(xhr, status, error) {
                    console.error("Lỗi:", error);
                    console.log("Chi tiết:", xhr.responseText);
                },
                complete: function() {
                    console.log("Hoàn tất AJAX request");
                },
                timeout: 10000
            });
        }
        const deleteCategoryById = (idCategory) => {
            let inputToken = document.querySelector('input[name="__RequestVerificationToken"]');
            $.ajax({
                url: "/Categories/Delete",
                type: "POST",
                data: {
                    idCategory, 
                    __RequestVerificationToken: inputToken?.value
                },
                beforeSend: function() {
                    // console.log("Đang gửi yêu cầu...");
                },
                success: function(response) {
                    // console.log("Kết quả:", response);

                    //=== Bước 1: Đóng Modal đang mở ===//
                    //=== Bước 2: Load lại danh danh sách mới ===//
                },
                error: function(xhr, status, error) {
                    console.error("Lỗi:", error);
                    console.log("Chi tiết:", xhr.responseText);
                },
                complete: function() {
                    console.log("Hoàn tất AJAX request");
                },
                timeout: 10000
            });
        }
    </script>
}
