@model EBikeShop.MVC.ViewModels.BikeVM

@{
    // bool isCreate = false;
    // if (Model == null || Model.Id == Guid.Empty)
    // {
    //     isCreate = true;
    // }
    bool isCreate = Model == null || Model.Id == Guid.Empty;
    string formAction = isCreate ? "Create" : "Edit";
    // string formAction = "";
    // if (isCreate == true)
    // {
    //     formAction = "Create";
    // } else
    // {
    //     formAction = "Edit";
    // }
    string buttonName = isCreate ? "Create" : "Save";
    string title = isCreate ? "Create" : "Edit";

    ViewData["Title"] = title;

}

<h1>@title</h1>

<h4>Bike</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@formAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!isCreate)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="7" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: center; margin-top: 10px">
                @* <input type="submit" value="@buttonName" class="btn btn-primary" /> *@
                <button type="submit" class="btn btn-primary">@buttonName</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("BikeList")
        @* @await Component.InvokeAsync(nameof(BikeList)) *@
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function getBikeDetail(idBike) 
        {
            $.ajax({
                url: "/Bikes/Details",    // Đường dẫn đến API hoặc file server.
                type: "GET",                 // Hoặc "POST", "PUT", "DELETE"
                // dataType: "json",            // Kiểu dữ liệu server trả về: json, html, text, xml, script
                data: {
                    id: idBike
                },
                // contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                beforeSend: function() {
                    // Hàm gọi trước khi gửi request: thường hiện trạng thái Loading
                    console.log("Đang gửi yêu cầu...");
                },
                success: function(response) {
                    // Hàm gọi khi request thành công: Thường cập nhật lại dữ liệu hiển thị
                    // console.log("Kết quả:", response);
                    openModal("Chi tiết xe", response, '');
                },
                error: function(xhr, status, error) {
                    // Khi có lỗi xảy ra: thường hiển thị lỗi trên modal hoặc thông báo lỗi
                    console.error("Lỗi:", error);
                    console.log("Chi tiết:", xhr.responseText);
                },
                complete: function() {
                    // Hàm được gọi sau khi đã chạy tất cả các bước trên: Thường dùng để đóng trạng thái Loading, đóng Modal đang mở
                    console.log("Hoàn tất AJAX request");
                },
                timeout: 10000               // Giới hạn thời gian (ms)
            });
        }
    </script>
}
